div.page {
  border: 1px solid black; 
  margin: 10px; 
  padding: 0px 10px;
}

.header, .footer {
  background: #333;
  color: #EEE !important;
} 

.keyword { 
  font-variant: small-caps;
}

.header td, .footer td {
  background: #EEE;
  color: #CAB !important;
  border: 1px solid blue;
}

.header th, .footer th {
  color: #CAB !important;
}

.floater {
  float:right;
}

#output {
  font-size: 60%;
}

#output h2 { color: #FFF; font-size: 160%; }
#output h3 { color: #EEE; font-size: 150%; }
#output h4 { color: #111; font-size: 130%; }