div.page {
  border: 1px solid black; 
  margin: 10px; 
  padding: 15px;
}

.header, .footer {
  background: #333;
  color: #F9F9F9 !important;
} 

.keyword { 
  font-variant: small-caps;
}

.header td {
  background: #F9F9F9;
  color: #333 !important;
  text-align: center;
  font-size: 160%;
  font-weight: bold;
  border: solid #222;
  border-top-width: 2px;
  border-left-width: 10px;
  border-right-width: 0px;
  width:65px;
}

.header thead th:first-of-type {
  background-color: inherit !important;
  border-right: 10px solid #222;
}

.header th {
  text-align: center;
  vertical-align: middle;
  color: #F9F9F9 !important;
  font-size:120%;
  background-color: #777;
  /* border-right:10px solid #333; */
}

.floater {
  float:right;
}

@font-face {
    font-family: 'goonfont';
    src:
        url('/fonts/ITC - ConduitITCPro-Regular.otf') 
        format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'goonfont';
    src:
        url('/fonts/ITC - ConduitITCStd-Bold.otf') 
        format('opentype');
    font-weight: bold;
    font-style: normal;
}

#output {
  font-size: 90%;
  font-family: 'goonfont';
}

table.guns td {
  width: 55px;
}

div.page div.header, div.page div.footer {
  background-color: #777;
  color:#111;
}

div.page div.header {
  margin-bottom:15px;
  padding-top:5px;
  background-color: #333;
  background-image: url('/img/space.jpg');
}

div.page div.footer {
  margin-top:15px;
  padding:5px 0px;
}

div.rules li {
  list-style: none;
  border-bottom: 1px dotted grey;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

div.rules ul {
  padding-left: 0;
}

#output h2 { color: #FFF; font-size: 220%; font-weight: bold; }
#output h3 { color: #F9F9F9; font-size: 150%; }
#output h4 { 
  color: #111; 
  font-size: 130%;
  background: #777;
  padding: 4px 8px;
  color: #F9F9F9;
  font-variant: small-caps;
}
div.page thead th {
  color:#F9F9F9;
  background-color: #777;
  font-size: 110%;
  text-transform: uppercase;
}

div.ork thead th, #output div.ork h4, div.ork .header th, div.ork div.header, div.ork div.footer { background-color: #6b8335; } 
div.codex thead th, #output div.codex h4, div.codex .header th, div.codex div.header, div.codex div.footer { background-color: #243b43; } 
div.teal thead th, #output div.teal h4, div.teal .header th, div.teal div.header, div.teal div.footer { background-color: #22777e; } 
div.red thead th, #output div.red h4, div.red .header th, div.red div.header, div.red div.footer { background-color: #a61033; } 
div.grey thead th, #output div.grey h4, div.ogreyrk .header th, div.grey div.header, div.grey div.footer { background-color: #4c5954; } 
div.guard thead th, #output div.guard h4, div.guard .header th, div.guard div.header, div.guard div.footer { background-color: #43543e; } 
div.otherred thead th, #output div.otherred h4, div.otherred .header th, div.otherred div.header, div.otherred div.footer { background-color: #621f16; } 
div.purple thead th, #output div.purple h4, div.orpurplek .header th, div.purple div.header, div.purple div.footer { background-color: #644e72; } 
div.bronze thead th, #output div.bronze h4, div.bronze .header th, div.bronze div.header, div.bronze div.footer { background-color: #775d43; } 
div.black thead th, #output div.black h4, div.black .header th, div.black div.header, div.black div.footer { background-color: #000000; } 