div.page {
  border: 1px solid black; 
  margin: 10px; 
  padding: 15px;
}

.header, .footer {
  background: #333;
  color: #F9F9F9 !important;
} 

.keyword { 
  font-variant: small-caps;
}

.header td {
  background: #F9F9F9;
  color: #333 !important;
  text-align: center;
  font-size: 160%;
  font-weight: bold;
  border: solid #222;
  border-top-width: 2px;
  border-left-width: 10px;
  border-right-width: 0px;
  width:65px;
}

.header thead th:first-of-type {
  background-color: inherit;
  border-right: 10px solid #222;
}

.header th {
  text-align: center;
  vertical-align: middle;
  color: #F9F9F9 !important;
  font-size:120%;
  background-color: #699;
  /* border-right:10px solid #333; */
}

.floater {
  float:right;
}

@font-face {
    font-family: 'goonfont';
    src:
        url('/fonts/ITC - ConduitITCPro-Regular.otf') 
        format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'goonfont';
    src:
        url('/fonts/ITC - ConduitITCStd-Bold.otf') 
        format('opentype');
    font-weight: bold;
    font-style: normal;
}

#output {
  font-size: 90%;
  font-family: 'goonfont';
}

table.guns td {
  width: 55px;
}

div.page div.header, div.page div.footer {
  background-color: #8BB;
  color:#111;
}

div.page div.header {
  margin-bottom:15px;
  padding-top:5px;
  background-color: #333;
  background-image: url('/img/space.jpg');
}

div.page div.footer {
  margin-top:15px;
  padding:5px 0px;
}

div.rules li {
  list-style: none;
  border-bottom: 1px dotted grey;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

div.rules ul {
  padding-left: 0;
}

#output h2 { color: #FFF; font-size: 220%; font-weight: bold; }
#output h3 { color: #F9F9F9; font-size: 150%; }
#output h4 { 
  color: #111; 
  font-size: 130%;
  background: #699;
  padding: 4px 8px;
  color: #F9F9F9;
  font-variant: small-caps;
}